<section class="posts">
  <div *ngIf="stateLoading" class="posts-loading">Loading</div>
  <ng-container *ngIf="!stateLoading">
    <app-post-photo
      *ngFor="let post of posts; let i = index"
      #post
      [post]="posts[i]"
      [srcLoaded]="
        (i === currentIndex - 1 && i - 1 > -1) ||
        i === currentIndex ||
        (i === currentIndex + 1 && i + 1 < totalPosts - 1)
      "
      [ngStyle]="{ 'z-index': i === currentIndex ? 81 : 80 }"
      class="posts-item"
    ></app-post-photo>
  </ng-container>
</section>
