@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/mixins.scss';

:host {
  display: flex;
  justify-content: center;
}

.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  &-item {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    width: 100%;
    &:not(:last-child) {
      margin-bottom: 32px;
    }
    // &-caption {
    //   // margin: 0px 16px 16px 16px;
    //   width: calc(100% - 32px);
    //   a {
    //     @include transition(0.25s, 0s, ease-in-out, color);
    //     font-size: 18px;
    //     font-weight: 300;
    //     text-transform: uppercase;
    //     &:hover {
    //       color: black;
    //     }
    //   }
    // }
    // &-meta {
    //   align-items: center;
    //   display: flex;
    //   margin: 0px 16px;
    //   flex-direction: row;
    //   flex-wrap: wrap;
    //   width: calc(100% - 32px);
    //   &-date {
    //     opacity: 0.75;
    //     width: 100%;
    //     a {
    //       @include transition(0.25s, 0s, ease-in-out, color);
    //       font-size: 12px;
    //       &:hover {
    //         color: black;
    //       }
    //     }
    //   }
    //   &-icons {
    //     margin: 8px 0px;
    //     width: 50%;
    //     a {
    //       @include transition(0.25s, 0s, ease-in-out, color);
    //       &:hover {
    //         color: black;
    //       }
    //     }
    //     i {
    //       font-size: 24px;
    //     }
    //     i:not(:last-child) {
    //       margin-right: 24px;
    //     }
    //   }
    //   &-note-count {
    //     display: flex;
    //     justify-content: flex-end;
    //     width: 50%;
    //     & a {
    //       @include transition(0.25s, 0s, ease-in-out, color);
    //       &:hover {
    //         color: black;
    //       }
    //     }
    //   }
    //   &-notes {
    //     display: flex;
    //     flex-direction: column;
    //     margin-top: 32px;
    //     width: 100%;
    //     &-item {
    //       align-items: center;
    //       display: flex;
    //       & a {
    //         @include transition(0.25s, 0s, ease-in-out, color);
    //         font-size: 14px;
    //         &:hover {
    //           color: black;
    //         }
    //       }
    //       & i {
    //         font-size: 20px;
    //         width: 32px;
    //       }
    //       &:not(:last-child) {
    //         margin-bottom: 8px;
    //       }
    //     }
    //   }
    //   &-tags {
    //     display: flex;
    //     flex-wrap: wrap;
    //     font-size: 14px;
    //     margin: 8px 0px 4px 0px;
    //     width: 100%;
    //     &-item {
    //       margin-bottom: 4px;
    //       & a {
    //         @include transition(0.25s, 0s, ease-in-out, color);
    //         &:hover {
    //           color: black;
    //         }
    //       }
    //     }
    //     &-item:not(:last-child) {
    //       margin-right: 8px;
    //     }
    //   }
    // }
  }
}

@media screen and (min-width: $sm) {
  .posts {
    padding: 0px 32px;
    &-item {
      &:not(:last-child) {
        margin-bottom: 48px;
      }
      // &-caption {
      //   a {
      //     font-size: 22px;
      //   }
      // }
    }
  }
  #header-nav-item-archive-xs {
    display: none;
  }
  #header-nav-item-archive-sm {
    display: block;
  }
}

@media screen and (min-width: $md) {
  .posts {
    width: $md;
    &-item {
      &:not(:last-child) {
        margin-bottom: 64px;
      }
      // &-caption {
      //   a {
      //     font-size: 24px;
      //   }
      // }
    }
  }
}

@media screen and (min-width: $lg) {
  .posts {
    &-item {
      &:not(:last-child) {
        margin-bottom: 96px;
      }
      // &-caption {
      //   width: calc(100% - 720px);
      //   a {
      //     font-size: 28px;
      //   }
      // }
    }
  }
}

@media screen and (min-width: $xl) {
  .posts {
    box-sizing: initial;
    padding: 0;
    width: 800px;
  }
}

@media screen and (min-width: $fhd) {
  .posts {
    width: 960px;
    &-item {
      &:not(:last-child) {
        margin-bottom: 128px;
      }
    }
  }
}

@media screen and (min-width: $wqhd) {
  .posts {
    width: 1280px;
    &-item {
      &:not(:last-child) {
        margin-bottom: 156px;
      }
    }
  }
}

// @media (hover: hover) {
//   .posts {
//     &-item {
//       &-meta {
//         &-notes {
//           &-item {
//             a {
//               @include transition(0.25s, 0s, ease-in-out, color);
//             }
//             a:hover {
//               color: black;
//             }
//           }
//         }
//       }
//     }
//   }
// }
