@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/theme.scss';

.logo {
  @include highlight-disable();
  font-family: 'Raleway', sans-serif;
  font-weight: 200;
  font-size: 1.75rem;
  left: 16px;
  position: fixed;
  text-transform: uppercase;
  top: 16px;
  z-index: 40;
}

@media (min-width: $sm) {
  .logo {
    font-size: 2rem;
    left: 32px;
    top: 32px;
  }
}

@media (min-width: $md) {
  .logo {
    font-size: 2.25rem;
  }
}

@media (min-width: $xl) {
  .logo {
    font-size: 2.5rem;
    left: 48px;
    top: 64px;
  }
}

@media (min-width: $fhd) {
  .logo {
    font-size: 3rem;
  }
}

@media (hover: hover) {
  .logo {
    & a {
      @include transition(0.25s, 0s, ease-in-out, color);
      &:hover {
        color: $light-color-hover;
      }
    }
  }
}
