@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/theme.scss';

:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.post-photo {
  @include transition(0.5s, 0s, ease-in-out, opacity);
  align-items: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  max-height: 60vh;
  max-width: 100%;
  &-image {
    position: relative;
    max-height: 60vh;
    max-width: 100%;
    &-next {
      @include highlight-disable();
      cursor: pointer;
      height: 100%;
      position: absolute;
      right: 0;
      top: 0;
      width: 50%;
      & svg {
        display: none;
        height: 24px;
        opacity: 0;
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
      }
    }
    &-prev {
      @include highlight-disable();
      cursor: pointer;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 50%;
      & svg {
        display: none;
        height: 24px;
        left: 16px;
        opacity: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 48px;
      }
    }
    &-caption {
      display: flex;
      flex-wrap: wrap;
      height: 20px;
      right: 16px;
      overflow: hidden;
      position: absolute;
      top: -32px;
      width: calc(100% - 32px);
      &-tag {
        color: var(--theme-color);
        margin-left: 8px;
        opacity: 0.5;
        overflow: hidden;
        text-overflow: clip;
        white-space: nowrap;
      }
      &-title {
        width: fit-content;
        overflow: hidden;
        text-overflow: ellipsis;
        text-transform: uppercase;
        white-space: nowrap;
      }
    }
    & img {
      filter: var(--posts-filter);
      max-height: 60vh;
      max-width: 100%;
    }
    & svg {
      & polyline {
        stroke: white;
      }
    }
  }
}

@media (min-width: $xs) {
  .post-photo {
    max-height: 65vh;
    &-image {
      max-height: 65vh;
      & img {
        max-height: 65vh;
      }
    }
  }
}

@media (min-width: $md) {
  .post-photo {
    max-height: 70vh;
    &-image {
      max-height: 70vh;
      &-caption {
        left: 16px;
      }
      & img {
        max-height: 70vh;
      }
    }
  }
}

@media (min-width: $xl) {
  .post-photo {
    max-height: 80vh;
    &-image {
      max-height: 80vh;
      & img {
        max-height: 80vh;
      }
    }
  }
}

@media (pointer: coarse) {
  .post-photo {
    &-image {
      &-next {
        & svg {
          display: block;
          opacity: 1;
          & line {
            stroke: none;
          }
          & polyline {
            stroke: var(--posts-nav-item-color);
          }
        }
      }
      &-prev {
        & svg {
          display: block;
          opacity: 1;
          & line {
            stroke: none;
          }
          & polyline {
            stroke: var(--posts-nav-item-color);
          }
        }
      }
    }
  }
}

@media (hover: hover) {
  .post-photo {
    &-image {
      &-caption {
        &-tag {
          @include transition(0.5s, 0s, ease-out, color, opacity);
          cursor: pointer;
          &:hover {
            color: var(--theme-color-hover);
            opacity: 1;
          }
        }
      }
      &-next {
        &:hover {
          & svg {
            opacity: 1;
          }
        }
        & svg {
          @include transition(0.25s, 0s, ease-in-out, opacity);
          display: block;
          & line,
          polyline {
            stroke: var(--posts-nav-item-color);
          }
        }
      }
      &-prev {
        &:hover {
          & svg {
            opacity: 1;
          }
        }
        & svg {
          @include transition(0.25s, 0s, ease-in-out, opacity);
          display: block;
          & line,
          polyline {
            stroke: var(--posts-nav-item-color);
          }
        }
      }
    }
  }
}
