@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/mixins.scss';

:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}

.post-photo {
  align-items: center;
  display: flex;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
  &-image {
    position: relative;
    max-height: 400px;
    max-width: 100%;
    &-caption {
      display: none;
    }
    & img {
      max-height: 400px;
      max-width: 100%;
    }
  }
}

@media (min-width: $xs) {
  .post-photo {
    max-height: 480px;
    &-image {
      max-height: 480px;
      & img {
        max-height: 480px;
      }
    }
  }
}

@media (min-width: $sm) {
  .post-photo {
    max-height: 70vh;
    &-image {
      max-height: 70vh;
      & img {
        max-height: 70vh;
      }
    }
  }
}

@media (min-width: $lg) {
  .post-photo {
    &-image {
      &-caption {
        display: block;
        left: 16px;
        position: absolute;
        text-transform: uppercase;
        top: -32px;
      }
    }
  }
}

@media (min-width: $xl) {
  .post-photo {
    max-height: 80vh;
    &-image {
      max-height: 80vh;
      & img {
        max-height: 80vh;
      }
    }
  }
}
