@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/theme.scss';

.footer {
  &-counter {
    @include transition(0.25s, 0s, ease-in-out, opacity);
    align-items: center;
    bottom: 0;
    color: var(--theme-color);
    display: flex;
    height: 20vh;
    justify-content: center;
    left: 50%;
    opacity: 0;
    position: fixed;
    transform: translateX(-50%);
    white-space: nowrap;
    z-index: 20;
  }
  &-tag {
    @include highlight-disable();
    align-items: center;
    bottom: 0;
    color: var(--theme-color);
    display: flex;
    height: 20vh;
    position: fixed;
    right: 16px;
    z-index: 20;
    &-container {
      align-items: center;
      display: flex;
      &-button {
        align-items: center;
        display: flex;
        height: 24px;
        margin-left: 12px;
        width: 24px;
        &-line-1 {
          background-color: var(--theme-color);
          position: absolute;
          height: 2px;
          transform: rotate(45deg);
          width: 24px;
        }
        &-line-2 {
          background-color: var(--theme-color);
          position: absolute;
          height: 2px;
          transform: rotate(-45deg);
          width: 24px;
        }
      }
    }
  }
}

@media (min-width: $xs) {
  .footer {
    &-counter,
    &-tag {
      height: 17.5vh;
    }
  }
}

@media (min-width: $sm) {
  .footer {
    &-counter,
    &-tag {
      height: 15vh;
    }
    &-tag {
      right: 32px;
    }
  }
}

@media (min-width: $xl) {
  .footer {
    &-counter,
    &-tag {
      height: 10vh;
    }
    &-tag {
      right: 48px;
    }
  }
}

@media (hover: hover) {
  .footer {
    &-tag {
      &-container {
        &-button {
          &-line-1,
          &-line-2 {
            @include transition(
              0.5s,
              0s,
              ease-out,
              background-color,
              transform
            );
          }
        }
        &-text {
          @include transition(0.5s, 0s, ease-out, color, transform);
        }
        &:hover {
          cursor: pointer;
          & .footer-tag-container-button {
            &-line-1,
            &-line-2 {
              background-color: var(--theme-color-hover);
            }
          }
          & .footer-tag-container-text {
            color: var(--theme-color-hover);
          }
        }
      }
    }
  }
}
