<div
  class="menu-bars"
  #menuBars
  [ngStyle]="{
    opacity: stateMenu ? 0 : 1
  }"
  (click)="onMenuOpen()"
>
  <div
    [ngStyle]="{
      transform: stateMenu ? 'translateY(0%)' : 'translateY(-100%)'
    }"
    class="menu-bars-line-1"
  ></div>
  <div
    [ngStyle]="{
      transform: stateMenu ? 'translateY(0%)' : 'translateY(100%)'
    }"
    class="menu-bars-line-2"
  ></div>
</div>

<div
  class="menu-close"
  #menuClose
  [ngStyle]="{
    opacity: stateMenu ? 1 : 0
  }"
  (click)="onMenuClose()"
>
  <div
    [ngStyle]="{
      transform: stateMenu ? 'rotate(45deg)' : 'rotate(0deg)'
    }"
    class="menu-close-line-1"
  ></div>
  <div
    [ngStyle]="{
      transform: stateMenu ? 'rotate(-45deg)' : 'rotate(0deg)'
    }"
    class="menu-close-line-2"
  ></div>
</div>

<section
  #menuContainer
  [ngStyle]="
    stateMenu
      ? {
          opacity: '1'
        }
      : {
          opacity: '0'
        }
  "
  class="menu-container"
>
  <div class="menu-container-navigation">
    <section
      [ngStyle]="
        stateMenu
          ? {
              opacity: '1',
              transform: 'translateY(0)'
            }
          : {
              opacity: '0',
              transform: 'translateY(4px)'
            }
      "
      class="menu-container-navigation-items"
    >
      <a
        [routerLink]="['/archive']"
        target="_blank"
        class="menu-container-navigation-items-link"
        >Archive</a
      >
    </section>
    <form
      [formGroup]="searchForm"
      (submit)="onSearch()"
      [ngStyle]="
        stateMenu
          ? {
              opacity: '1',
              transform: 'translateY(0)'
            }
          : {
              opacity: '0',
              transform: 'translateY(4px)'
            }
      "
      class="menu-container-navigation-search"
    >
      <input placeholder="Search" type="text" formControlName="search" />
    </form>
    <section
      *ngIf="social"
      [ngStyle]="
        stateMenu
          ? {
              opacity: '1',
              transform: 'translateY(0)'
            }
          : {
              opacity: '0',
              transform: 'translateY(4px)'
            }
      "
      class="menu-container-navigation-social"
    >
      <a
        *ngIf="social?.facebook && social.facebook !== ''"
        [href]="'https://www.facebook.com/' + social.facebook"
        target="_blank"
        class="menu-container-navigation-social-item"
        >Facebook</a
      >
      <a
        *ngIf="social?.github && social.github !== ''"
        [href]="'https://github.com/' + social.github"
        target="_blank"
        class="menu-container-navigation-social-item"
        >Github</a
      >
      <a
        *ngIf="social?.instagram && social.instagram !== ''"
        [href]="'https://instagram.com/' + social.instagram"
        target="_blank"
        class="menu-container-navigation-social-item"
        >Instagram</a
      >
      <a
        *ngIf="social?.snapchat && social.snapshot !== ''"
        [href]="'https://story.snapchat.com/s/' + social.snapchat"
        target="_blank"
        class="menu-container-navigation-social-item"
        >Snapchat</a
      >
      <a
        *ngIf="social?.tiktok && social.tiktok !== ''"
        [href]="'https://www.tiktok.com/@' + social.tiktok"
        target="_blank"
        class="menu-container-navigation-social-item"
        >TikTok</a
      >
      <a
        *ngIf="social?.twitch && social.twitch !== ''"
        [href]="'https://www.twitch.tv/' + social.twitch"
        target="_blank"
        class="menu-container-navigation-social-item"
        >Twitch</a
      >
      <a
        *ngIf="social?.twitter && social.twitter !== ''"
        [href]="'https://twitter.com/' + social.twitter"
        target="_blank"
        class="menu-container-navigation-social-item"
        >Twitter</a
      >
    </section>
  </div>
  <div
    [ngStyle]="
      stateMenu
        ? {
            opacity: '0.5',
            transform: 'translateY(0)'
          }
        : {
            opacity: '0',
            transform: 'translateY(4px)'
          }
    "
    class="menu-container-copyright"
  >
    {{ copyright }}
  </div>
</section>
