@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/theme.scss';

.menu {
  &-container {
    @include transition(0.5s, 0s, ease-out, transform);
    background-color: var(--menu-background-color);
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    width: 100%;
    z-index: 50;
    &-copyright {
      @include transition(0.5s, 0s, ease-out, opacity);
      bottom: 32px;
      color: var(--theme-color);
      display: flex;
      font-size: 0.8rem;
      justify-content: center;
      opacity: 0;
      position: fixed;
      width: 100%;
    }
    &-navigation {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      overflow: hidden;
      position: fixed;
      right: 64px;
      top: 96px;
      width: max-content;
      &-item {
        @include highlight-disable();
        @include transition(0.5s, 0s, ease-out, opacity, transform);
        color: var(--theme-color);
        opacity: 0;
        transform: translateX(100%);
      }
    }
    &-search {
      @include transition(0.5s, 0s, ease-out, opacity);
      top: 12px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      left: 16px;
      opacity: 0;
      position: fixed;
      width: calc(100% - 72px);
      & input {
        border-bottom: 1px solid var(--theme-color);
        color: var(--theme-color);
        padding: 4px 0px;
        width: 100%;
      }
    }
    &-social {
      @include transition(0.5s, 0s, ease-out, opacity);
      bottom: 96px;
      color: var(--theme-color);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      opacity: 0;
      position: fixed;
      width: 100%;
      &-item {
        @include highlight-disable();
        padding: 8px;
      }
    }
    &-theme {
      @include highlight-disable();
      @include transition(0.5s, 0s, ease-out, opacity);
      align-items: center;
      bottom: 16px;
      display: flex;
      justify-content: center;
      left: 16px;
      opacity: 0;
      position: fixed;
      &-container {
        background-color: var(--theme-color);
        border-radius: 16px;
        height: 32px;
        transform: scale(0.5);
        width: 32px;
      }
    }
  }
  &-icon {
    align-items: center;
    display: flex;
    height: 32px;
    justify-content: center;
    position: fixed;
    right: 16px;
    top: 16px;
    width: 28px;
    z-index: 52;
    &-button {
      @include transition(1s, 0s, ease-in-out, opacity);
      align-items: center;
      display: flex;
      height: 28px;
      opacity: 1;
      width: 28px;
      &-line-1 {
        @include transition(0.5s, 0s, ease-out, background-color, transform);
        background-color: var(--theme-color);
        position: absolute;
        height: 2px;
        transform: translateY(-150%);
        width: 100%;
      }
      &-line-2 {
        @include transition(0.5s, 0s, ease-out, background-color, transform);
        background-color: var(--theme-color);
        position: absolute;
        height: 2px;
        transform: translateY(150%);
        width: 100%;
      }
    }
  }
}

@media (min-width: $sm) {
  .menu {
    &-container {
      justify-content: center;
      &-copyright {
        bottom: 64px;
      }
      &-search {
        left: unset;
        top: 28px;
        width: 420px;
      }
      &-social {
        bottom: 128px;
        width: 420px;
      }
      &-theme {
        bottom: 32px;
        left: 32px;
      }
    }
    &-icon {
      height: 40px;
      right: 32px;
      top: 32px;
    }
  }
}

@media (min-width: $md) {
  .menu {
    &-container {
      &-navigation {
        font-size: 4rem;
        right: 96px;
        top: 128px;
      }
      &-search {
        & input {
          border-bottom: 2px solid var(--theme-color);
          font-size: 1.5rem;
        }
      }
      &-social {
        font-size: 1.5rem;
      }
    }
    &-icon {
      height: 40px;
      width: 32px;
    }
  }
}

@media (min-width: $lg) {
  .menu {
    &-container {
      &-navigation {
        font-size: 5rem;
      }
    }
  }
}

@media (min-width: $xl) {
  .menu {
    &-icon {
      height: 44px;
      right: 48px;
      top: 64px;
    }
    &-container {
      &-copyright {
        bottom: 64px;
      }
      &-navigation {
        font-size: 6rem;
        right: 128px;
        top: 156px;
      }
      &-search {
        top: 60px;
      }
      &-social {
        bottom: 156px;
      }
      &-theme {
        bottom: 48px;
        left: 48px;
      }
    }
  }
}

@media (min-width: $fhd) {
  .menu {
    &-icon {
      height: 52px;
      &-button {
        height: 2.25rem;
        width: 2.25rem;
      }
    }
  }
}

@media (pointer: coarse) {
  .menu {
    &-container {
      &-theme {
        transform: scale(0.625);
      }
    }
  }
}

@media (hover: hover) {
  .menu {
    &-icon {
      cursor: pointer;
      &:hover {
        & .menu-icon-button-line-1,
        .menu-icon-button-line-2 {
          background-color: var(--theme-color-hover);
        }
      }
    }
    &-container {
      &-navigation {
        &-item {
          a {
            @include transition(0.25s, 0s, ease-out, color);
          }
          &:hover {
            a {
              color: var(--theme-color-hover);
            }
          }
        }
      }
      &-social {
        a {
          @include transition(0.25s, 0s, ease-out, color);
          &:hover {
            color: var(--theme-color-hover);
          }
        }
      }
      &-theme {
        &-container {
          @include transition(0.25s, 0s, ease-out, background-color, transform);
          cursor: pointer;
          &:hover {
            background-color: var(--theme-color-hover);
            transform: scale(0.625);
          }
        }
      }
    }
  }
}
