<section #menuIconElem class="menu-icon" (click)="onMenuToggle()">
  <div class="menu-icon-line-1"></div>
  <div class="menu-icon-line-2"></div>
</section>

<main #menuContainerElem class="menu-container">
  <section class="menu-container-navigation">
    <div #navigationItemElem class="menu-container-navigation-item">
      <a
        [routerLink]="['']"
        (click)="onMenuToggle()"
        class="menu-container-navigation-item-href"
        >Home</a
      >
    </div>
    <div
      *ngIf="about"
      #navigationItemElem
      class="menu-container-navigation-item"
    >
      <a
        [routerLink]="['info', 'about']"
        (click)="onMenuToggle()"
        class="menu-container-navigation-item-href"
        >About</a
      >
    </div>
    <div
      *ngIf="archive"
      #navigationItemElem
      class="menu-container-navigation-item"
    >
      <a
        [routerLink]="['/archive']"
        target="_blank"
        class="menu-container-navigation-item-href"
        >Archive</a
      >
    </div>
  </section>

  <form
    #searchElem
    [formGroup]="searchForm"
    (submit)="onSearch()"
    class="menu-container-search"
  >
    <input placeholder="Search" type="text" formControlName="search" />
  </form>

  <section #socialElem *ngIf="social" class="menu-container-social">
    <a
      *ngIf="social?.facebook && social.facebook !== ''"
      [href]="'https://www.facebook.com/' + social.facebook"
      target="_blank"
      class="menu-container-social-item"
      >Facebook</a
    >
    <a
      *ngIf="social?.github && social.github !== ''"
      [href]="'https://github.com/' + social.github"
      target="_blank"
      class="menu-container-social-item"
      >Github</a
    >
    <a
      *ngIf="social?.instagram && social.instagram !== ''"
      [href]="'https://instagram.com/' + social.instagram"
      target="_blank"
      class="menu-container-social-item"
      >Instagram</a
    >
    <a
      *ngIf="social?.snapchat && social.snapshot !== ''"
      [href]="'https://story.snapchat.com/s/' + social.snapchat"
      target="_blank"
      class="menu-container-social-item"
      >Snapchat</a
    >
    <a
      *ngIf="social?.tiktok && social.tiktok !== ''"
      [href]="'https://www.tiktok.com/@' + social.tiktok"
      target="_blank"
      class="menu-container-social-item"
      >TikTok</a
    >
    <a
      *ngIf="social?.twitch && social.twitch !== ''"
      [href]="'https://www.twitch.tv/' + social.twitch"
      target="_blank"
      class="menu-container-social-item"
      >Twitch</a
    >
    <a
      *ngIf="social?.twitter && social.twitter !== ''"
      [href]="'https://twitter.com/' + social.twitter"
      target="_blank"
      class="menu-container-social-item"
      >Twitter</a
    >
  </section>

  <section #copyrightElem class="menu-container-copyright">
    {{ copyright }}
  </section>
</main>
