@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/mixins.scss';
@import '../../../../styles/theme.scss';

.menu {
  &-container {
    @include transition(0.5s, 0s, ease-out, transform);
    background-color: $light-menu-background-color;
    display: flex;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    transform: translateX(100%);
    width: 100%;
    z-index: 50;
    &-copyright {
      @include transition(0.5s, 0s, ease-out, opacity, transform);
      bottom: 32px;
      color: $light-color;
      display: flex;
      font-size: 0.8rem;
      justify-content: center;
      opacity: 0;
      position: fixed;
      width: 100%;
    }
    &-navigation {
      align-items: flex-end;
      display: flex;
      flex-direction: column;
      font-size: 3rem;
      overflow: hidden;
      position: fixed;
      right: 64px;
      top: 96px;
      width: max-content;
      &-item {
        @include transition(0.5s, 0s, ease-out, opacity, transform);
        color: $light-color;
        opacity: 0;
        transform: translateX(100%);
      }
    }
    &-search {
      @include transition(0.5s, 0s, ease-out, opacity, transform);
      top: 12px;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      left: 16px;
      opacity: 0;
      position: fixed;
      width: calc(100% - 72px);
      & input {
        border-bottom: 1px solid $light-color;
        color: $light-color;
        padding: 4px 0px;
        width: 100%;
      }
    }
    &-social {
      @include transition(0.5s, 0s, ease-out, opacity, transform);
      bottom: 96px;
      color: $light-color;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      opacity: 0;
      position: fixed;
      width: 100%;
      &-item {
        padding: 8px;
      }
    }
  }
  &-icon {
    @include transition(1s, 0s, ease-in-out, opacity);
    align-items: center;
    display: flex;
    height: 1.75rem;
    right: 12px;
    opacity: 1;
    position: fixed;
    top: 12px;
    z-index: 52;
    width: 1.75rem;
    &-line-1 {
      @include transition(0.5s, 0s, ease-out, background-color, transform);
      background-color: $light-color;
      position: absolute;
      height: 0.1em;
      transform: translateY(-150%);
      width: 100%;
    }
    &-line-2 {
      @include transition(0.5s, 0s, ease-out, background-color, transform);
      background-color: $light-color;
      position: absolute;
      height: 0.1em;
      transform: translateY(150%);
      width: 100%;
    }
  }
}

@media (min-width: $sm) {
  .menu {
    &-container {
      justify-content: center;
      &-copyright {
        bottom: 64px;
      }
      &-search {
        left: unset;
        top: 28px;
        width: 420px;
      }
      &-social {
        bottom: 128px;
        width: 420px;
      }
    }
    &-icon {
      right: 28px;
      top: 28px;
    }
  }
}

@media (min-width: $md) {
  .menu {
    &-container {
      &-navigation {
        font-size: 4rem;
        right: 96px;
        top: 128px;
      }
      &-search {
        & input {
          border-bottom: 2px solid $light-color;
          font-size: 1.5rem;
        }
      }
      &-social {
        font-size: 1.5rem;
      }
    }
    &-icon {
      &-line-1 {
        height: 0.15em;
      }
      &-line-2 {
        height: 0.15em;
      }
    }
  }
}

@media (min-width: $lg) {
  .menu {
    &-container {
      &-navigation {
        font-size: 5rem;
      }
    }
  }
}

@media (min-width: $xl) {
  .menu {
    &-icon {
      right: 44px;
      top: 60px;
    }
    &-container {
      &-copyright {
        bottom: 64px;
      }
      &-navigation {
        font-size: 6rem;
        right: 128px;
        top: 156px;
      }
      &-search {
        top: 60px;
      }
      &-social {
        bottom: 156px;
      }
    }
  }
}

@media (min-width: $fhd) {
  .menu {
    &-icon {
      height: 2.25rem;
      width: 2.25rem;
    }
  }
}

@media (hover: hover) {
  .menu {
    &-icon {
      cursor: pointer;
      &:hover {
        & .menu-icon-line-1,
        .menu-icon-line-2 {
          background-color: $light-color-hover;
        }
      }
    }
    &-container {
      &-navigation {
        &-item {
          a {
            @include transition(0.25s, 0s, ease-out, color);
          }
          &:hover {
            a {
              color: $light-color-hover;
            }
          }
        }
      }
      &-social {
        a {
          @include transition(0.25s, 0s, ease-out, color);
          &:hover {
            color: $light-color-hover;
          }
        }
      }
    }
  }
}
