/* You can add global styles to this file, and also import other style files */
@import 'styles/breakpoints.scss';
@import 'styles/mixins.scss';
@import 'styles/theme.scss';

/* OVERWRITE TUMBLR ELEMENTS */

iframe {
  display: none !important;
}

/* APP STYLES */

html {
  display: flex;
  justify-content: center;
  font-size: 14px;
}

body {
  align-items: center;
  background-color: $light-background-color;
  color: $light-color;
  display: flex;
  flex-direction: column;
  // font-family: 'Raleway', sans-serif;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  // margin: 0px 16px;
  margin: 0;
  width: 100%;
}

app-root {
  box-sizing: border-box;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
}

svg[class='icon'],
svg-icon {
  // height: 24px;
  // width: 24px;
  line,
  ellipse,
  polygon,
  polyline {
    stroke: $light-color;
  }
  polygon {
    fill: $light-color;
  }
}

svg-icon {
  height: 24px;
}

@media screen and (min-width: $sm) {
  body {
    // margin: 0px 32px;
  }
}

@media screen and (min-width: $md) {
  body {
    // margin: 0px 64px;
  }
}

@media screen and (min-width: $lg) {
  body {
    // margin: 0px 128px;
  }
}

@media screen and (min-width: $fhd) {
  body {
    // margin: 0px 192px;
    // width: 1920px;
  }

  // app-root {
  //   padding: 0px 128px;
  // }
}

@media (hover: hover) {
  // html,
  // body {
  //   cursor: url('assets/icons/cursor.svg') 16 16, auto;
  // }

  .nav-side-item {
    &:hover {
      .cursor {
      }
    }
  }
}
