/* You can add global styles to this file, and also import other style files */
@import 'styles/breakpoints.scss';
@import 'styles/mixins.scss';
@import 'styles/theme.scss';

/* OVERWRITE TUMBLR ELEMENTS */

iframe {
  display: none !important;
}

/* APP STYLES */

html {
  background: var(--themeBackground);
  background-attachment: fixed;
  color: var(--themeColor);
  display: flex;
  justify-content: center;
  font-size: 14px;
}

body {
  @include transition(0.5s, 0s, ease-out, background-color, color);
  align-items: center;
  background-color: var(--theme-background-color);
  color: var(--theme-color);
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

app-root {
  box-sizing: border-box;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
  &:visited {
    color: inherit;
  }
}

input {
  background: none;
  border: none;
  font-family: 'Poppins', sans-serif;
  outline: none;
  &:focus {
    outline: none;
  }
}
